In [1]:
#1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
# the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
# [1980, 1981, 1982, 1983, 1984, 1985].

year_list=[2001,2002,2003,2004,2005,2006]
year_list

[2001, 2002, 2003, 2004, 2005, 2006]

In [17]:
# 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
# first year

year_list=[2001,2002,2003,2004,2005,2006]
year_list[3]

2004

In [20]:
# 3.In the years list, which year were you the oldest?

year_list=[2001,2002,2003,2004,2005,2006]
year_list[5]

2006

In [22]:
# 4. Make a list called things with these three strings as elements: "mozzarella", "cinderella",
# "salmonella".

things=["mozzarella", "cinderella","salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

In [23]:
# 5. Capitalize the element in things that refers to a person and then print the list. Did it change the
# element in the list?

things=["mozzarella", "cinderella","salmonella"]
things[1].capitalize()

'Cinderella'

In [25]:
# 6. Make a surprise list with the elements :"Groucho,""Chico,"and "Harpo."
surprise=["Groucho,""Chico," "Harpo"]
surprise

['Groucho,Chico,Harpo']

In [32]:
# 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

surprise=["Groucho,""Chico," "Harpo"]
surprise[-1] = surprise[-1].lower()
surprise[-1] = surprise[-1][::-1]
surprise[-1].capitalize()

'Oprah,ocihc,ohcuorg'

In [33]:
# 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
# chien, cat is chat, and walrus is morse.

e2f={"dog":"chin","cat":"chat","walrus":"morse"}
e2f

{'dog': 'chin', 'cat': 'chat', 'walrus': 'morse'}

In [38]:
# 9. Write the French word for walrus in your three-word dictionary e2f.
e2f["walrus"]

'morse'

In [49]:
# 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

e2f={"dog":"chin","cat":"chat","walrus":"morse"}
f2e={}
for english, french in e2f.items():
    f2e[french]=english
f2e

{'chin': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [52]:
# 11. Print the English version of the French word chien using f2e

f2e["chin"]

'dog'

In [53]:
# 12. Make and print a set of English words from the keys in e2f.

set(e2f.keys())

{'cat', 'dog', 'walrus'}

In [54]:
# 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'.
# Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. 
# Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'.
# Make all the other keys refer to empty dictionaries.

life = {
        'animals': {
            'cats': [
                'Henri', 'Grumpy', 'Lucy'
                ],
            'octopi': {},
            'emus': {}
            },
        'plants': {},
        'other': {}
        }
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

In [57]:
# 14. Print the top-level keys of life.
print(list(life.keys()))

['animals', 'plants', 'other']

In [58]:
# 15. Print the keys for life['animals'].
print(life['animals'].keys())

dict_keys(['cats', 'octopi', 'emus'])

In [59]:
# 16. Print the values for life['animals']['cats']
print(life['animals']['cats'])

['Henri', 'Grumpy', 'Lucy']